<% if current_user.orders.present? %>
    <% if !@order.paid %>
        <p> Orders to pay </p>
        <% @order.products.each do |product| %>
        <div>
        <%= product.picture? ? image_tag(product.picture_url, :alt => product.name) : image_tag("https://via.placeholder.com/250x250") %>
        Product: <%= product.name %><br />
        Description: <%= product.description %><br />
        Price: <%= humanized_money_with_symbol(product.price) %><br />
        Venduto da: <%= product.user.email %><br />
        <%= button_to("Remove", {:controller => "orders", :action => "update", :id => product.id}, :method => :patch) %>
        <%#= button_to("Remove", orders_path, params: {:id => product.id}, :method => :patch) %> <!-- this works too -->
        </div>
        <% end %>
        <p>TOTAL: <%= humanized_money_with_symbol(@order.amount) %></p><br />
        <%= form_tag(controller: "orders", action: 'payorder') do %>
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>"
        data-label="Pay <%=humanized_money_with_symbol(@order.amount) %>"
        data-name="My Teddy"
        data-email="<%= current_user.email %>"
        data-amount="<%= @order.amount_cents %>"
        data-currency="<%= @order.amount.currency %>"></script>
        <%= link_to "Remove Order", order_path(@order), :method => :delete %>
      <% end %>
    <% end %>
  <br>
  <br>
  <br>
  <% if current_user.orders.where(paid: true).present? %>
  <p> Previous Orders:</p>
      <% current_user.orders.where(paid: true).reverse.each do |x| %>
      <div>
        <% x.products.each do |product| %>
        <div>
          <%= product.picture? ? image_tag(product.picture_url, :alt => product.name) : image_tag("https://via.placeholder.com/250x250") %>
          Product: <%= product.name %><br />
          Description: <%= product.description %><br />
          Price: <%= humanized_money_with_symbol(product.price) %><br />
          Venduto da: <%= product.user.email %><br />
        </div>
        <% end %>
      </div>
      <p>TOTAL PAID: <%= humanized_money_with_symbol(x.amount) %></p>
      <% end %>
  <% end %>
  <% else %>
    <p>Non hai ordini in sospeso </p>
<% end %>
