<div>
  <% if current_user.orders.present? %>
  <div>
    <% @order.products.each do |product| %>
    <div>
      Product: <%= product.name %><br />
      Conditions: <%= product.tagline %><br />
      Description: <%= product.description %><br />
      Price: $<%= product.price %><br />
      Venduto da: <%= product.user.email %><br />
    </div>
    <% end %>
  </div>
  <% end %>
  <% else %>
  <p>Non hai ordini in sospeso </p>
</div>
