<% provide(:title, "Cart") %>
<div class="main-wrapper home-background">
<!-- <div class="container containerorderpage"> -->


<div class="lul">
<% if current_user.orders.present? %>
      <% if !@order.paid %>
            <div class="cazzo-1">
                  <% @order.products.each do |product| %>
                      <div class="row">
                        <div class="col-lg-4">
                          <div>
                            <%= product.picture? ? image_tag(product.picture_url, :alt => product.name, class: "img-responsive") : image_tag("https://via.placeholder.com/250x250") %>
                          </div>
                        </div>

                        <div class="col-lg-7">
                          <div class="row">
                            <div class="col-lg-12">
                              <div>
                                <%= product.name %>
                              </div>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-lg-8">
                              <div>
                              <%= product.description %>
                              </div>
                            </div>
                            <div class="col-lg-2">
                              <div>
                              <%= humanized_money_with_symbol(product.price) %>
                              </div>
                            </div>
                            <div class="col-lg-2">
                              <div>
                              <%= button_to("Remove", {:controller => "orders", :action => "update", :id => product.id}, :method => :patch) %>
                              </div>
                            </div>
                          </div>
                        </div>

                      </div>
                  <% end %>
            </div>
            <div class="cazzo-2">
              <div>
                <p>TOTAL: <%= humanized_money_with_symbol(@order.amount) %></p>
                  <%= form_tag(controller: "orders", action: 'payorder') do %>
                  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                  data-key="<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>"
                  data-label="Pay <%=humanized_money_with_symbol(@order.amount) %>"
                  data-name="My Teddy"
                  data-email="<%= current_user.email %>"
                  data-amount="<%= @order.amount_cents %>"
                  data-currency="<%= @order.amount.currency %>"></script>
                  <%= link_to "or remove the order..", order_path(@order), :method => :delete %>
                <% end %>
              </div>
            </div>
      <% end %>

<% else %>
    <p>Non hai ordini in sospeso </p>
<% end %>



</div>
</div>


















































              <br>
              <br>
              <br>
              <% if current_user.orders.where(paid: true).present? %>
              <p> Previous Orders:</p>
                  <% current_user.orders.where(paid: true).reverse.each do |x| %>
                        <div>
                          <% x.products.each do |product| %>
                                <div>
                                  <%= product.picture? ? image_tag(product.picture_url, :alt => product.name) : image_tag("https://via.placeholder.com/250x250") %>
                                  Product: <%= product.name %><br />
                                  Description: <%= product.description %><br />
                                  Price: <%= humanized_money_with_symbol(product.price) %><br />
                                  Venduto da: <%= product.user.email %><br />
                                </div>
                          <% end %>
                        </div>
                  <p>TOTAL PAID: <%= humanized_money_with_symbol(x.amount) %></p>
                  <% end %>
              <% end %>
