<% if current_user.orders.where(paid: true).present? %>
  <p> Previous Orders:</p>
  <% current_user.orders.where(paid: true).reverse.each do |x| %>
  <div>
    <% x.products.each do |product| %>
      <div>
       <%= product.picture? ? image_tag(product.picture_url, :alt => product.name) : image_tag("https://via.placeholder.com/250x250") %>
       Product: <%= product.name %><br />
       Description: <%= product.description %><br />
       Price: <%= humanized_money_with_symbol(product.price) %><br />
       Venduto da: <%= product.user.email %><br />
     </div>
  <% end %>
  </div>
  <p>TOTAL PAID: <%= humanized_money_with_symbol(x.amount) %></p>
  <% end %>
<% else %>
<p>No previous orders</p>
<% end %>
