<div>
  <% if current_user.orders.present? %>
  <div>

    <% @order.products.each do |product| %>
    <div>
      Product: <%= product.name %><br />
      Description: <%= product.description %><br />
      Price: <%= humanized_money_with_symbol(product.price) %><br />
      Venduto da: <%= product.user.email %><br />
    </div>
    <% end %>
    <p>TOTAL: <%= humanized_money_with_symbol(@order.amount) %></p><br />
    <%= form_tag order_payments_path(@order) do %>
    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>"
    data-label="Total <%=humanized_money_with_symbol(@order.amount) %>"
    data-name="My Teddy"
    data-email="<%= current_user.email %>"
    data-amount="<%= @order.amount_cents %>"
    data-currency="<%= @order.amount.currency %>"></script>
    <% end %>
    <% else %>
    <p>Non hai ordini in sospeso </p>
    <% end %>
  </div>
