<!DOCTYPE html>
<html lang="it">
<head>
  <title><%= yield(:title) %> | EzMarkt.com: search, buy, sell!</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content= "EzMarkt is the best marketplace in the world">
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link href="//use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">
</head>
<body>
  <%= render 'layouts/navbar' %>
  <%= render 'layouts/flashes' %>
    <%= yield %>
  <%= render 'layouts/footer' %>
</body>
</html>
